.about-container {
  display: flex;

  margin: 50px 100px 50px 100px;
}

h1 {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.about-text {
  margin: 130px 20px 20px 20px;
}

.about-img {
  height: 30rem;
  width: 30rem;
  margin: 20px 20px 20px 20px;
}
