.card-section {
  background-color: #fffff0;
  margin: 0;
  padding: 0;
}

.card-section h1 {
  padding-top: 30px;
  font-size: 30px;
}

.card-container {
  display: flex;
}

.card {
  height: 400px;
  width: 350px;
  padding: 30px;
}

.card-img {
  height: 180px;
}
