.card-section {
  display: flex;
  flex-direction: column;

  background-color: #fffff0;
  padding: 0;
}

.price-header {
  margin-left: 80px;
}

.card-section h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
}

.card-container {
  display: grid;
  margin: 20px;
  column-gap: 20px;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  margin: 20px auto;
  width: 350px;
}

.card-text {
  width: 95%;
}
.card h1 {
  padding: 0px;
}

.card-img {
  height: 180px;
  width: 100%;
}

/* @media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
  .card {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%;
  }
} */
