.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #fffff0;
  padding: 0;
}

.card-section h1 {
  padding-top: 30px;

  padding-bottom: 30px;
  font-size: 30px;
}

.card-container {
  width: 90%;
  margin: 20px auto;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card {
  height: 400px;

  width: 30%;
  margin-bottom: 20px;
  min-width: 300px;
}

.card-text {
  width: 95%;
}
.card h1 {
  padding: 0px;
}

.card-img {
  height: 180px;
  width: 90%;
}

/* @media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
  .card {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%;
  }
} */
